@media all and (max-width: 1150px)
{
	.website, .pw, .page-width,
	.slideShow .info-box,
	body.singlepage .website .page.page-width
	{
		width: 1024px;
	}
	header .bottom .nav > ul > li > a{
		font-size: 0.8em;
		padding: 0 10px;
	}
	.webshop-product-top .items .item .buttons a, .related-products .items .item .buttons a,
	.webshop-product-top .items .item .buttons .order.req-price, .related-products .items .item .buttons .order.req-price{
		font-size: 0.6em;
	}
	.product-view > .product-data .top-datas .main-data .cart-info .group{
		font-size: 0.9em;
	}
}
/* 1024 - 1050 px - MEDIUM */
@media all and (max-width: 1050px)
{
	header .main{
		padding: 10px;
	}
	header .top{
		adding: 5px 0px;
	}
	footer .main > .pw > .wrapper{
		padding: 30px 10px;
	}
	footer .nav{
		padding: 20px 10px;
	}
	footer .info{
		padding: 15px 10px;
	}
	.website, .pw, .page-width,
	.slideShow .info-box,
	body.singlepage .website .page.page-width
	{
		width: 100%;
	}
	header .main .actions{
		flex-basis: 45%;
	}
	header .main .logo{
		flex-basis: 200px;
	}

	header .main .actions > .flex > div.cart{
		flex-basis: 120px;
		flex: initial;
	}

	.share-box, .cart-float {
		position:relative;
		right: auto;
		left: auto;
		top: auto;
		bottom: auto;
		display: none;
	}

	.mobile-sharer .share-box {
		display: table;
		 table-layout:fixed;
		width: 100%;
	}

	.mobile-sharer .share-box > div {
		display: table-cell;
		text-align: center;
	}

	.mobile-sharer .share-box > div a {
		display: block !important;
		text-align: center !important;
		color: white !important;
		padding: 8px !important;
	}

	.general-sidebar .menu li.menu-item a {
		font-size: 1em;
	}
	.menu-widget .head {
		font-size: 0.9em;
	}
	.menu-widget .slides {
		max-width: 203px;
	}
}
/* 0 - 1023 px - SMARTPHONE */
@media all and (max-width: 1023px)
{
	/* display none */
	.fb-page{
		display: none !important;
	}

	header .main .logo{
		flex-basis: initial;
		flex: 1;
	}
	header .main .actions > .flex{
		justify-content: flex-end;
	}
	header .main .actions{
		flex-basis: initial;
	}

	header .sec-bottom .highlight-view .hl-cont ul{
		width: 90%;
		font-size: 0.8em;
	}

	a.fb-link {
		background: #3a5795;
		border: 2px solid lighten(#3a5795, 5%);
		padding: 8px;
		font-size: 1.4em;
		margin: 5px 0;
		color: white;
		display: block;
		width: 100%;
	}


	.website {
		margin: 0;
		margin-top: 67px;
	}

	header .top .actions{
		flex-basis: 100% !important;
	}

	header .top .actions{
		padding: 0;
	}

	/*
	header {
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		z-index: 1111;
		font-size: 1.4em;
		border-bottom: 2px solid #e6e6e6;
	}
	*/
	.general-sidebar {
		height: 100%;
		position: fixed;
	    width: 100%;
	    z-index: 111;
	    float: none;
	    display: none;
	    background: rgba(0, 0, 0, 0.91);
	    padding-bottom: 25px;
	}
	.general-sidebar.opened {
		display:block;
	}
	.general-sidebar .menu {
		width: 70%;
		overflow:auto;
		height: 100%;
	}
	.general-sidebar .menu li.menu-item a {
		font-size: 1.5em;
	}

	.site-container {
		width: 100%;
		float: none;
		display: block;
	}

	.grid-layout:not(.kpm),
	.grid-layout:not(.kpm) .grid-row {
		width: 100% !important;
		display: block;
	}

	.product-view,
	.account {
		.grid-layout:not(.kpm) *[class^=grid-row],
		.grid-layout:not(.kpm),
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:first-child,
		.grid-layout:not(.grid-np):not(.kpm) > .grid-row:last-child {
			padding: 0 !important;
		}
	}

	.flatInfoBox > div {
		font-size: 0.9em;
	}

	.grid-layout .grid-row:after {
		content:"";
		position: relative;
		height: 1px;
		width:100%;
		clear:both;
	}

	.referring-view{
		.kimelt-link {
			display: none;
		}

		.partner-referer-orders h2{
			line-height: 1;
			margin: 10px 0;
		}
	}

	.account {
		h1 {
			margin: 20px 0 25px 0;
		}
	}

	.order {
		.serial {
			float: none;
			width: 100%;
		}

		h1 {
			margin: 10px 0;
		}
	}

	.mobile-header {
		line-height: 3;

		.cart, .place-search, .acv, .ct {
			float: right;

			a {
				display: block;
				padding: 0 15px;
				color: #FF99B5;
			}
		}
		.menu-switcher {
			float: left;
			padding: 0 25px;
		}
		.menu-switcher:active {
			background: #222;
		}

		.cart {
			a {
				text-decoration: none;
				color: white;
			}
			.cart-item-num-v {
			    background: #fff;
			    color: $color-pr;
			    font-weight: bold;
			    font-size: 0.65em;
			    border-radius: 20px;
			    padding: 0 6px;
			}
		}
	}

	.product-view .main-view{
		display: block;
		.images, .data-view {
			width: 100%;
			display: block;
		}
		.images .all {
			margin: 0 auto;
			width: 375px;
		}

		.free-transport {
			margin: 10px 0;
		}

		.links {
			padding: 0 15px;
		}
		.data-view {
			padding: 0 15px;
			.action-bar a {
				font-size: 1.2em;
			}
		}
		.prices {
			.base {
				float: left;
			}
			.partner-price {
				float: right;
			}
		}

		.status {
			font-size: 1.5em;
		}

		#cart-msg {
			font-size: 1.4em;
		}
	}
	.product-view {
		.buy-basic-info {
			margin-top: 15px;
		}
	}

	.dropdown-list-container .dropdown-list-selecting.showed {
		z-index: 10;
	}
	.dropdown-list-title {
		font-size: 1.8em;
	}
	.dropdown-list-container .dropdown-list-selecting > div{
		font-size: 1.8em;
		padding: 10px 0;
	}
	.dropdown-list-container .dropdown-list-selecting{
		top: 48px;
	}

	.category-listing{
		.category-title .filters {
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}

		h1 {
			display: block;
			margin: 15px;
		}
	}

	.product-ajanlott .items .item,
	.related-products .items .item {
		width: 100%;
		display: block;
	}

	.webshop-product-top .items .item{
		margin: 0;
		.buttons .holder {
			.watch, .order {
				float: left;
				width: 50%;
				height: auto !important;

				a {
					padding: 25px 5px;
				}
			}
		}

		.price {
			font-size: 0.90em;
		}

		.extra-info{
			width: 100%;
			margin: 0;
			.each {
				line-height: 1;
				padding: 5px;
				font-size: 0.65em;
			}
		}
	}
	.nextOrded .steps {
		padding: 10px;
	}

	.divCol,
	.nextOrded .col2  {
		height: auto !important;
		border: none !important;
	}
	.order-contact-info * {
		text-align: left !important;
		line-height: 1.2;
	}

	.nextOrded .col1,
	.nextOrded .col2 {
		padding: 0 !important;
	}

	.nextOrded .col2{
		width: 100%;
		.coupon-code{
			padding-top: 10px;
		}
	}
	.nextOrded input[type=checkbox] + label {
		line-height: 1.1 !important;
	}
	.nextOrded .allStepView ul li {
		float: none;
		width: 100%;
	}
	.nextOrded .allStepView ul li.active:after {
		display: none;
	}
	.nextOrded .allStepView ul li.done:after{
		left: 20px;
		top: 50%;
	}

	.nextOrded h2.title{
		margin: 0;
	}

	.shop-search-view {
		 .near-of-me{
		 	text-align: center;

		 	.place-details {
		 		.name {
		 			margin: 8px 0;
			 		line-height: 1;
			 	}
		 	}

		 	.infos {
		 		text-align: center;
		 		border-top: 1px solid lighten($color-pr, 20%);
		 		padding-top: 5px;
		 		margin-top: 5px;
		 	}
		 }

		 .shop-list {
		 	.logo {
		 		text-align: center;
		 	}

		 	.shop {
		 		border-bottom: 5px solid $color-sec;

		 		.infos {
			 		text-align: center;
			 		border-top: 1px solid lighten($color-sec, 10%);
			 		padding: 10px 0;
			 		margin: 15px 15px 5px 15px;
			 	}
		 	}
		 	.shop:last-child {
		 		border-bottom: none;
		 	}
		 }
	}

	.shop-cat .cat {
		width: 50%;
	    display: block;
	    float: left;
	}

	footer .menu li a {
		font-size: 1.15em;
		line-height: 1.55;
	}

	.hide-on-mobile {
		display:none !important;
	}
	.show-on-mobile {
	  display: block !important;
	}

	footer .main > .pw > .wrapper{
		padding: 10px;
	}
	footer .main > .pw > .wrapper .links > .wrapper{
		padding: 0;
	}
	footer .main > .pw > .wrapper .links > .wrapper > .flex > div {
		flex-basis: 100%;
	}
	footer .main > .pw > .wrapper .links > .wrapper > .flex > div.segitseg{
		margin: 0 0 20px 0;
		h3 {
			text-align: center;
			padding: 0;
			margin: 10px 0;
		}
	}
	footer .main > .pw > .wrapper .links > .wrapper > .flex > div.tudastar{
		margin: 0 20px 20px 20px;
	}
	footer .main > .pw > .wrapper .links > .wrapper > .flex > div.segitseg ul li {
		text-align: center;
	}
	footer .main{
		margin-bottom: 0;
		background: #fafafa;
	}
	footer .nav .logo,
	footer .nav .navi,
	footer .info > .pw > .flex > div{
		flex-basis: 100%;
		text-align: center;
	}
	footer .info > .pw > .flex > .copy{
		margin: 0 0 15px 0;
	}
	footer .info > .pw > .flex > .contact{
		font-size: 0.8em;
	}
	footer .nav .navi{
		margin: 10px 0 0 0;
	}
	footer .nav .navi .flex > div {
		flex-basis: 100%;
		padding: 5px 10px;
	}
	footer .info .social{
		margin: 15px 0 0 0;
	}
	footer .info .social .flex{
		justify-content: center;
	}
	footer .info .contact .flex > div .wrapper i{
		font-size: 17px;
    margin: 0 5px 0 0;
	}
	footer .info .contact .flex > div .wrapper{
		text-align: left;

		.title{
			font-size: 1.2em;
		}
	}
	header .main .actions > .flex > div.cart .floating{
		right: -16px;
	}
	.product-view > .sidebar{
		flex-basis: 100%;
		padding: 0 10px;
	}
	.product-view > .product-data{
		flex-basis: 100%;
		order: 0;
		padding: 0;
	}
	.website{
		margin-top: 0;
	}
	.product-view > .product-data .top-datas{
		flex-wrap: wrap;
	}
	.product-view > .product-data .nav{
		padding: 0 10px 10px 10px;
		font-size: 0.8em;
	}
	.product-view > .product-data .top-datas .images{
		flex-basis: 100%;
		padding: 10px;
	}
	.product-view > .product-data .top-datas .main-data{
		flex-basis: 100%;
		padding: 10px;
	}
	.dropdown-list-title{
		font-size: 0.9em;
	}
	.product-view > .product-data .more-datas{
		margin: 0;
	}
	.product-view > .product-data .more-datas > div {
		flex-basis: 100%;
		padding: 0;
	}
	.product-view > .product-data .more-datas .info-texts{
		padding: 0 10px;
	}
	.product-view > .product-data .more-datas .info-texts .description .head h3,
	.product-view > .product-data .more-datas .info-texts .documents .head h3,
	.product-view > .product-data .more-datas .info-texts .parameters .head h3{
		float: none;
		width: 60%;
		text-align: center;
		margin: 0 auto;
	}
	.filter-sidebar .side-group{
		margin: 0 0 15px 0;
	}
	.category-listing .list-view > .grid-layout .grid-row.filter-sidebar{
		padding: 0 10px;
		flex-basis: 100%;
		display: none;
	}
	.category-listing .list-view > .grid-layout .grid-row.products{
		padding: 0 10px;
		flex: initial;
		flex-basis: 100%;
	}
	.webshop-product-top .items .item, .related-products .items .item{
		flex-basis: calc(100% / 2);
	}
	.category-listing h1{
		margin: 0 0 15px 0;
		font-size: 1.4em;
	}
	.webshop-product-top .items .item .title a, .related-products .items .item .title a{
		height: auto;
		max-height: initial;
		overflow: initial;
	}
	.webshop-product-top .items .item .subtitle,
	.related-products .items .item .subtitle {
		font-size: 1em;
	}
	.page .side-menu{
		order: 0;
		flex-basis: 100%;
		background: #f4f4f4;
		margin: 0 0 15px 0;
		padding: 0;
	}
	.side-menu ul li.head:first-child{
		background: #a7a7a7;
		color: white;
		margin: 0 0 10px 0;
		padding: 10px;
	}
	.page .responsive-view{
		flex: initial;
		flex-basis: 100%;
		padding: 0 10px;
	}
	.page .page-view h1{
		font-size: 1.8em;
	}
	body.singlepage .website .page{
		padding: 0;
	}
	body.singlepage .website .page.covered-page .side-menu{
		padding-top: 0;
	}
	body.singlepage .website .page.covered-page{
		margin-top: -30px;
	}
	body.singlepage .website .cover-img{
		height: 280px;
	}
	body.singlepage .website .page.covered-page .page-view .title h1{
		color: black;
	}
	.slideShow .info-box{
		font-size: 0.65em;
	}
	.category-listing .push-cart-favorite{
		float: left;
		margin: 0 0 10px 0;
	}
	.account .group-selector .groups{
		width: 100%;
	}
	.account .group-selector .groups > div{
		flex-basis: 100%;
	}
	.account .stack > div {
		padding: 0 10px;
	}
	.side-menu .logged-as{
		padding: 15px;
		margin: 0;
	}
	.a-up{
		text-align: center;
	}
	.account .settings h4{
		padding: 0 10px;
	}
	.account .settings .form-rows{
		padding: 0 10px;
	}
	.order .orderpage .head,
	.order .orderState{
		padding: 20px 10px;
	}
	.order .items-table{
		padding: 10px;
	}
	.order .orderpage .head{
		padding: 10px;
	}
	.order .datas .data{
		padding: 10px;
	}
	.order .inforows{
		margin: 10px -5px;
	}
	.tudastar-page .header{
		padding: 10px;
	}
	.tudastar-page .header h1{
		font-size: 2em;
	}
	.tudastar-page .searcher{
		padding: 0 10px;
	}
	.tudastar-page .content-holder > .findcats,
	.tudastar-page .content-holder > .articles{
		flex-basis: 100%;
		padding: 10px;
	}
	.tudastar-page .content-holder .findcats{
		background: #f4f4f4;
	}
	.tudastar-page .searcher{
		margin: 10px 0;
	}
	.tudastar-page .article-groups .article-group{
		margin-bottom: 25px;
	}
	.tudastar-page .article-groups .article-group h3.title{
		font-size: 1.4em;
	}
	.tudastar-page .article-groups .article-group .articles article .question{
    font-size: 1.15em;
    margin: 10px 0;
	}
	.tudastar-page .article-groups .article-group h3.title + .article-number{
		margin: 10px 0 0 0;
	}
	header{
		margin-bottom: 15px;
	}

	body.homepage header{
		margin-bottom: 0;
	}
	.cartItems .cart-head{
		padding: 0 10px 10px 10px;
	}
	.nextOrded .stepzerostarter .cartInfo,
	.nextOrded .stepzerostarter .megrendel{
		flex-basis: 100%;
	}
	.nextOrded .stepzerostarter .cartInfo	{
		text-align: center;
	}
	.nextOrded .stepzerostarter{
		height: auto;
	}
	.nextOrded .stepzerostarter .megrendel{
		button {
			width: 100%;
		}
	}
}

/* 0 - 640 px - SMARTPHONE */
@media all and (max-width: 640px)
{
	.tudastar-page .article-groups .article-group{
		margin-bottom: 15px;
	}
	.account .login-form{
		width: 100%;
		padding: 0 10px;
	}
	.slideShow .info-box{
		font-size: 0.4em;
	}
	body.singlepage .website .cover-img{
		height: 220px;
	}
	.webshop-product-top .items .item, .related-products .items .item{
		flex-basis: calc(100% / 1);
		margin: 0 0 10px 0;
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 398px)
{
	body.singlepage .website .cover-img{
		height: 180px;
	}
	.product-view .product-desc {
	  width: 100% !important;

	  img {
	  	width: 90%;
	  	height: auto;
	  }
	}
}

/* 0 - 375 px - SMARTPHONE */
@media all and (max-width: 375px)
{
	body {
		font-size: 0.9em;
	}

	.floating-box.contact-msg .labtext {
		left: -85px;
	}

	.product-view .main-view .images .all {
		width: 300px;
	}

	.switcherView .inset {
		iframe {
			width: 100% !important;
		}
	}
	.viewSwitcher > div {
		width: 100%;
	}

	.kollega-list {

		ul {
			li {
				width: 50%;
			}
			li + .clr {
				display: none;
			}
		}
	}
}
